{% extends '::base.html.twig' %}

{% block body -%}

        <h2 class="text-center">{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <p class="col-md-12">{{ article.user }} - {{ article.date|date("d/m/Y") }}</p>

        <p>{% for category in article.categories %}
            <a href="{{ path('category', {'name': category}) }}" class="btn btn-primary btn-xs">{{ category }}</a>
        {% endfor %}</p>

        <p>{% for tag in article.tags %}
            <a href="{{ path('tag', {'name': tag}) }}" class="btn btn-primary btn-xs">{{ tag }}</a>
        {% endfor %}</p>

{% endblock %}